#main {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

#filter_scroll_summary {
    display: inline-flex;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#header_progress {
    display: inline-flex;
    text-align: center;
    width: 100%;
}
#header_navbar {
    display: inline-flex;
    width: 100%;
}

#logo {
    color: #800000;
    margin: auto;
} 

#logo_border {
    float: left;
    width: 10%;
    height: 50%;
    padding: 18px;
    margin-left: 50px;
    text-align: center;
    background-color: #DAD4B5;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}


#progress_bar {
    width: 60%;
    height: 50px;
    padding: 18px;
    margin: auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    background-image: url("companyImages/road.png");
    position: relative;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}

#progress_car {
    max-width:75px;
    max-height:75px;
    position: absolute;
    left: 15%;
    transition-duration: 1s;
}

.move_insurance {
    transform: translateX(19vw);
}

.move_vehicles {
    transform: translateX(0vw);
}

.move_addons {
    transform: translateX(39vw);
}

#progress_flag {
    max-width:75px;
    max-height:75px;
    position: absolute;

    right: -60px;
    bottom: 25px;
}


#vehicle_scroll {
    display: inline-block;
    width: 60%;
    height: 650px;
    padding: 10px;
    text-align: center;

    overflow: auto;
    scrollbar-width: none;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}

#insurance_scroll {
    display: none;
    width: 60%;
    height: 650px;
    padding: 20px; 

    overflow: auto;
    scrollbar-width: none;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}

#addons_scroll {
    display: none;
    width: 60%;
    height: 650px;
    padding: 20px; 

    overflow: auto;
    scrollbar-width: none;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}

#vehicle_item {
    min-width: 525px;
    height: 500px;
    display: inline-block;
    margin: 15px;
    position: relative;
    padding-left: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
    transition: 0.25s;
}

#vehicle_item:hover {
    transform: scale(1.05);
}


#vehicle_img {
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin: 25px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}

.book_button {
    background-color: brown;
    border: none;
    color: brown;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
}

.book_button:hover {
    background-color: #333;
}

#vehicle_name {
    position: absolute;
    padding-left: 110px;
    margin-top: -20px;
}

#seats_img {
    display: block;
    max-width:50px;
    max-height:50px;
    margin-left: 375px;
    margin-top: -250px;
}

#num_seats {
    display: block;
    max-width:50px;
    max-height:50px;
    margin-left: 450px;
    margin-top: -45px;
    font-size: 50px;
}

#luggage_img {
    display: block;
    max-width:50px;
    max-height:50px;
    margin-left: 375px;
}

#num_luggage {
    display: block;
    max-width:50px;
    max-height:50px;
    margin-left: 450px;
    margin-top: -45px;
    font-size: 50px;
}

#price_cost {
    display: block;
    max-width:50px;
    max-height:50px;
    margin-left: 365px;
    margin-top: 10px;
    font-size: 40px;
}

#additional_features {
    margin-left: 35px;
    margin-top: 35px;
}

#bluetooth {
    margin-left: 35px;
    margin-top: -20px;
}

#ac {
    margin-left: 35px;
    margin-top: -15px;
}

#cruise {
    margin-left: 35px;
    margin-top: -15px;
}

#carplay {
    margin-left: 35px;
    margin-top: -15px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: brown;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;
  }
  
  li {
    float: left;
    width: 33.333%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 110%;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #333;
  }

#filter_div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 15vw;
    height: 650px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;

}

#summary_div {
    display: inline-block;
    vertical-align: top;
    width: 15vw;
    height: 650px;
    margin-right: 20px; 
    padding: 20px 10px;
    margin-left: 20px;

    font-size: 12;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #800000;

    overflow: scroll;

    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

#summary_vehicle {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 100%;
    border-width: 2px;
    border-style: hidden hidden solid hidden;
    color: #333;
    border-color: #888888;
}

#summary_vehicle_total {
    margin-top: auto; 
    text-align: left; 
    border-width: 2px;
    border-style: hidden hidden solid hidden;
    border-color: #888888;
}

#summary_vehicle_current {
    margin-top: 1vh;
}


#price_filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}
#vehicle_type_filters {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px; 
}

#vehicle_option_filters  {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #888888;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 2rem;
    max-height: 3rem;
} 

.dropbtn:hover {
    background-color: #333;
}

.dropdown {
    margin-bottom: 20px;
    position: relative;
}

.dropdown-content {
    padding-top: 5px;
    display: block;
    position: relative;
    background-color: #f1f1f1;
}

.show {
    display:none;
}

.applyfiltersbtn {
    background-color: brown;
    color: white;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
    bottom: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 88%;
    padding-top: 0.5rem;
    min-height: 3rem;
    max-height: 3rem;
    margin-top: 10px;
    position: absolute;
}

.applyfiltersbtn:hover {
    background-color: #333;
}

.resetfiltersbtn {
    background-color: #888888;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
    bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 88%;
    min-height: 2rem;
    max-height: 3rem;
    margin-top: 10px;
    position: absolute;
}

.resetfiltersbtn:hover {
    background-color: #333;
}


#insurance_scroll {
    display: none; 
    padding: 20px;
}

.insurance_option {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.insurance_option h3 {
    margin: 5px 0;
}

.insurance_option p {
    margin: 10px 0;
}

.insurance_option button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.insurance_option button:hover {
    background-color: #333;
}


.addon_option {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.addon_option h3 {
    margin: 0 0 10px;
}

.addon_option p {
    margin: 5px 0;
}

.addon_option button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.addon_option button:hover {
    background-color: #333;
}

#summary_div h2 {
    text-align: center;
}

#summary_info_div {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    margin: 3px;
    padding: 10px;
}

#vehicle_div, #insurance_div, #addon_div {
    border-radius: 8px; 
    padding: 0px; 
}


#vehicle_div::before {
    content: "Vehicles";
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}



#insurance_div::before {
    content: "Insurance";
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}



#addon_div::before {
    content: "Add-ons";
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#vehicle_div h4, #insurance_div h4, #addon_div h4 {
    color: #888888;
    margin-top: 0px;
    margin-bottom: 4px;
}

#summary_div hr {
    width: 90%;
    float: left;
}

.checkout-button {
    background-color: #e95555; 
    color: white; 
    font-size: 20px; 
    font-weight: bold; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
    text-align: center; 
    width: 100%; 
    max-width: 300px; 
    margin: 20px auto; 
    display: block; 
}

.checkout-button:hover {
    background-color: #333; 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
}

.checkout-button:active {
    background-color: #333; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(2px); 
}