p {
    color: gray;
    text-align: center;
}

/* sets up our progress bar for indicating progress of car rental selection process */
#progress_bar {
    width:60%;
    height: 50px;
    padding: 18px;
    margin: auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    background-image: url("road.png");

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

/* sets up our middle scrolling area for searching for vehicles/insurance/add-ons */
#middle_scroll {
    width: 60%;
    height: 720px;
    padding: 20px; 
    margin: auto;
    text-align: center; /* makes it so items inside are centered*/
    overflow: auto;
    scrollbar-width: none;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#vehicle_item {
    width: 525px;
    height: 525px;
    display: inline-block;
    margin: 15px;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}