p {
    color: gray;
    text-align: center;
}

#header {
    text-align: center;
}

#logo {
    color: aliceblue;
    margin: auto;
} 

#logo_border {
    float: left;
    width: 10%;
    height: 50px;
    padding: 18px;
    margin-left: 50px;
    text-align: center;
    background-color: darkred;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

/* sets up our progress bar for indicating progress of car rental selection process */
#progress_bar {
    width:60%;
    height: 50px;
    padding: 18px;
    margin: auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    background-image: url("road.png");
    position: relative;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#progress_car {
    max-width:75px;
    max-height:75px;
    position: absolute;
    left: 175px;
    transition-duration: 3s;
}

.move_insurance {
    transform: translateX(375px);
}

.move_vehicles {
    transform: translateX(0px);
}

.move_addons {
    transform: translateX(750px);
}

#progress_flag {
    max-width:75px;
    max-height:75px;
    position: absolute;

    right: -60px;
    bottom: 25px;
}

/* sets up our middle scrolling area for searching for vehicles/insurance/add-ons */
#middle_scroll {
    width: 60%;
    height: 650px;
    padding: 20px; 
    margin: auto;
    overflow: auto;
    scrollbar-width: none;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#vehicle_item {
    width: 525px;
    height: 525px;
    display: inline-block;
    margin: 15px;
    position: relative;
    padding-left: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#vehicle_img {
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin: 25px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.book_button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.book_button:hover {
    background-color: aquamarine;
}

#vehicle_name {
    position: absolute;
    padding-left: 110px;
    margin-top: -20px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    overflow: hidden;
    background-color: darkred;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  
  li {
    float: left;
    width: 33.3%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red;
  }